# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/



# System
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/

# Backups & Logs
_backup/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
coverage/

# PocketBase
pocketbase/
pocketbase_bin/
pocketbase.zip
*.db
*.db-shm
*.db-wal
